# Site wide configuration

title: Chiteri's Blog
locale: en_US
description: Personal Web logs for Martin Akolo
logo: site-logo.png
search: true
url: http://localhost:4000

# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..2
  use_coderay: false

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md", "vendor"]


# Site owner
owner:
  name: Martin Akolo Chiteri
  avatar: martin-chiteri.jpg
  email: chiteri@geek.co.ke
  disqus-shortname:
  twitter: chiteri
  facebook: martin.chiteri
  github: chiteri
  stackexchange: #http://stackoverflow.com/users/123456/username
  linkedin: #username
  instagram: martinchiteri
  flickr: mchiteri
  tumblr: #username
  google:
    plus: #username
    analytics:
    verify:
    ad-client:
    ad-slot: 
  bing-verify:
